->
<h1 class="page-title"><%= @activity.activity_name %></h1>


<div class="clear"></div>
<div class = "calendar-border">
<%= raw(event_calendar) %>

</div>

<% if current_user.id == @activity.user.id %>

<%= link_to 'Add a New Event', new_event_path({:activity_id => @activity.id}), class: "create-new" %>
<% end %>

<script type="text/javascript">

	var image_url = '<%= @image_url%>'
     $(document).ready(function() {
	$('.calendar-border').css('background-image', 'url(' + image_url +')');
       
    });
</script>