 <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="busy, calendars, school">
    <meta name="description" content="When it's all happening">
    <title>Colonial Cal | When it's all happening</title>

</head>

<body>

    <div class="clear"></div>
    <!-- END #authorization -->
    	

        <!-- BEGIN .content -->
        <div class="content">	

            <!-- BEGIN .main_image -->
            <div class="main_image">
                <%= image_tag "Colonial600.jpg" %>
                <%= image_tag "month_cal.jpeg" %>

           </div>
           <!-- END .main_image -->
    
            <!-- BEGIN #blurb -->
            <div id="blurb">
                    <h3>Want to know what's going on at Colonial and when?</h3>
                    <ul>
                        <li>See from the vacation calendar to band practices to scouts to after school enrichment classes.</li>
                         <li>Have a school-related activity or event you'd like to add?  Just go to the "Create a Calendar" tab and the calendar wizard makes it easy.</li>
                     
                    </ul>
                    
            </div><!-- END #blurb -->

            <div class="account_signup">
               
                <%= link_to "Sign Up Now - Free and Simple", sign_up_path, class: "signupbutton1" %>

              
            </div> <!-- END .account_signup -->

            <div class="clear"></div>
                
        </div><!-- END .content -->
   


</body>
</html>