
<div class="cal_wizard_title">
  <h2> Calendar Wizard </h2>
            
<!-- BEGIN #cal_wiz_steps -->
  <div id="cal_wiz_steps">
    <div class = "step1">
      <h4> Step 1: Create your activity </h4>
  	</div>
 		<%= image_tag("arrow_right.png", :height =>'100')%>
  <div class="step2">
      <h4> Step 2: Select calendar event dates </h4>
  </div>
 	<%= image_tag("arrow_right.png", :height =>'100')%>
   
        <div class="step3">
            <h4> Step 3: Edit calendar event details </h4>
        </div>
    </div><!-- END #cal_wiz_steps -->
</div><!-- END #cal_wiz_title -->
