<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="busy, calendars, school">
    <meta name="description" content="When it's all happening">
    <title>View List - Colonial Cal</title>
    
    <link rel="stylesheet" media="all" href="css/normalize.css">
	<link rel="stylesheet" media="all" href="css/style.css">

</head>

<body>
    <!-- BEGIN #container -->
    <div id="container">
        
    		<!-- BEGIN #header -->
            <header>
                <div id="logo">

                </div>
                <h1>CougarCal.com</h1>
            

    			<!-- BEGIN #mainMenu -->
                <nav>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="cal_wiz1.html">Create a Calendar</a></li>
                        <li><a href="options.html">Home</a></li>
                    </ul>
                </nav>            
                <!-- END #mainMenu -->  
            
    	
    		</header>
    		<div class="clear"></div>

        <!-- BEGIN .content -->
        <div class="content">	
            <div class="cal_list">
                <h2> Colonial School Activity Calendars </h2>
            </div>

    <!-- BEGIN #calendar_table -->
            <div id="calendar_table">
                    <table border="1">
                        <tr>
                            <th>Group Name</th>
                            <th>Last Updated</th>
                            <th>Owner</th>
                        </tr>
                        <tr>
                            <td class="group_name"> 
                                <a href="sample_cal.html">Colonial Chess Lessons</a></td>
                            <td class="edit_date">2/1/2013</td>
                            <td class="group_owner">Jane Doe</td>
                        </tr>
                        <tr>
                            <td class="group_name">
                                <a href="#">Colonial Grade 4-5 Rec Basketball</a></td>
                            <td class="edit_date">2/15/2013</td>
                            <td class="group_owner"> Pelham Rec Dept</td>
                    
                        </tr>

                    </table> 
            </div>  <!-- END #calendar_table -->

              

        </div><!-- END .content -->
    </div><!-- END #container -->

    	
            <!-- BEGIN #socialMedia 

            <div id="social-media">
                <ul>
                    <li class="linkedIn"><a href="#">LinkedIn</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="rss"><a href="#">RSS</a></li>
                </ul>
            </div>  
             END #socialMedia -->

     
    <!-- BEGIN #footer -->
    <footer> 
            <div class="clear"></div>
            
            <div id="copyright">
                 &copy; Copyright 2013 CougarCal.
            </div>
                            
            <div id="companybottom">
                Theme brought to you by <a href="#">SchoolCals!</a>
            </div>
               	
    </footer>

</body>
</html>